<!DOCTYPE html>
<html>
<head>
  <title>Mateaberto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    var request = navigator.mozApps.getSelf();
    request.onsuccess = function() {
      if (request.result) {
        $(".installfos").hide();
      } else {
        $(".installfos").show();
      }
    };

  </script>
</head>
<body>
  <script>
    function installapp() {
      var request = window.navigator.mozApps.install("http://mateaberto.herokuapp.com/manifest.webapp")
      request.onsuccess = function () {
        // Save the App object that is returned
        var appRecord = this.result;
        alert('Installation successful!');
      };  
      request.onerror = function () {
        // Display the error information from the DOMError object
        alert('Install failed, error: ' + this.error.name);
      };  
    };
  </script>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Matehackers checkins</a>
      </div>
    </div>
  </div>
  
  <div id="open">
    <% if @isopen %>
      <div class="alert alert-success">O Matehackers esta <span class="label label-success">aberto</span>. Seja bem vindo.</div>
      <ul>
      <% @current_checkins.each do |checkin| %>
        <li>
        O Hacker <%= checkin.name %> se programou para ficar até <%= checkin.leave %>
        <% if !checkin.contact.empty? %> e forneceu o seguinte contato: <%= checkin.contact %><% end %>.
        </li>
      <% end %>
      </ul>
    <% else %>
      <div class="alert">Parece que o Matehackers esta <span class="label">fechado</span>, pois nenhum hacker fez checkin para o horario atual.</div>
    <% end %>
  </div>

  <button class="installfos" onclick="installapp()">
    Install this app on your homescreen!
  </button>
  
  <%= yield %>

  <div id="calendar" class="well well-large" style="margin-top: 30px; text-align: center;">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;hl=pt_BR&amp;bgcolor=%23ffffff&amp;src=8r0n9mjiil65974vqg404pu8fk%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FSao_Paulo" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no">
    </iframe>
  </div>
</body>
</html>
