<!DOCTYPE html>
<html>
<head>
  <title>Mateaberto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    var manifest_url = "http://mateaberto.herokuapp.com/manifest";
  </script>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Matehackers checkins</a>
      </div>
    </div>
  </div>
  
  <button class="installfos" click="navigator.mozApps.install(manifest_url); return false;">
    Install this awesome app on your homescreen!
  </button>
  
  <div id="open">
    <% if @isopen %>
      <div class="alert alert-success">O Matehackers esta <span class="label label-success">aberto</span>. Seja bem vindo.</div>
      <ul>
      <% @current_checkins.each do |checkin| %>
        <li>
        O Hacker <%= checkin.name %> se programou para ficar até <%= checkin.leave %>
        <% if !checkin.contact.empty? %> e forneceu o seguinte contato: <%= checkin.contact %><% end %>.
        </li>
      <% end %>
      </ul>
    <% else %>
      <div class="alert">Parece que o Matehackers esta <span class="label">fechado</span>, pois nenhum hacker fez checkin para o horario atual.</div>
    <% end %>
  </div>

  <%= yield %>

  <div id="calendar" class="well well-large" style="margin-top: 30px; text-align: center;">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;hl=pt_BR&amp;bgcolor=%23ffffff&amp;src=8r0n9mjiil65974vqg404pu8fk%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FSao_Paulo" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no">
    </iframe>
  </div>
</body>
</html>
